<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>32-bit microcontrollers</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>32-bit Microcontrollers</h1>

<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 95rem;">
    <div class="col">
        <div class="card h-100" >
            <img src="https://www.microchip.com/_images/ics/medium-PIC32MX110F016B-SOIC-28.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PIC32MX110F016B-I/SO</h5>

                <h6 class="card-title">Order Quantity/USD per Unit</h6>
                <h6 class="card-title">1-24/$2.32</h6>
                <h6 class="card-title">25-99/$2.12</h6>
                <h6 class="card-title">100+/$1.92</h6>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Product Features
                </button><br><br>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Product Features</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <h6 class="card-title">- 40 MHz, 32-bit RISC CPU with less than 0.5 mA/MHz current consumption</h6>
                                <h6 class="card-title">- Two I2S/SPI modules for Codec and serial communications</h6>
                                <h6 class="card-title">- Peripheral Pin Select (PPS) functionality</h6>
                                <h6 class="card-title">- Parallel Master Port (PMP) for graphics interfaces</h6>
                                <h6 class="card-title">- Charge Time Measurement Unit (CTMU) for mTouchTM Capacitive touch buttons and sliders</h6>
                                <h6 class="card-title">- Temperature Range - 40°C to 105°C</h6>
                                <h6 class="card-title">- Operating voltage range of 2.3V to 3.6V</h6>
                                <h6 class="card-title">- Up to 32KB Flash memory (plus an additional 3 KB of Boot Flash)</h6>
                                <h6 class="card-title">- Up to 8K SRAM memory</h6>
                                <h6 class="card-title">- 1.56 DMIPS/MHz (Dhrystone 2.1) performance</h6>
                                <h6 class="card-title">- MIPS32® M4K® core with MIPS16e® mode for up to 40% smaller code size</h6>
                                <h6 class="card-title">- Pin-compatible with most Microchip 16-bit devices</h6>
                                <h6 class="card-title">- Multiple power management modes</h6>
                                <h6 class="card-title">- Configurable WDT with on-chip Low-Power RC oscillator for reliable operation</h6>
                                <h6 class="card-title">- Peripheral Pin Select (PPS) functionality</h6>
                                <h6 class="card-title">- Up to 4 channels of hardware DMA with automatic data size detection</h6>
                                <h6 class="card-title">- Two UART and I2C™ modules</h6>
                                <h6 class="card-title">- Separate PLLs for CPU and USB clocks</h6>
                                <h6 class="card-title">- Hardware Real-Time Clock and Calendar (RTCC)</h6>
                                <h6 class="card-title">- Five 16-bit Timers/Counters (two 16-bit pairs combine to create two 32-bit timers)</h6>
                                <h6 class="card-title">- Five Capture inputs and Five Compare/PWM outputs</h6>
                                <h6 class="card-title">- Data communication: I2S, LJ, RJ, DSP modes</h6>
                                <h6 class="card-title">- Control interface: SPI and I2C™</h6>
                                <h6 class="card-title">- Generation of fractional clock frequencies</h6>
                                <h6 class="card-title">- Can be synchronized with USB clock</h6>
                                <h6 class="card-title">- Can be tuned in run-time</h6>
                                <h6 class="card-title">- Up to 13-channel, 10-bit ADC</h6>
                                <h6 class="card-title">- Three Analog Comparators</h6>
                                <h6 class="card-title">- Charge Time Measurement Unit (CTMU)</h6>
                                <h6 class="card-title">- Two programming and debugging Interfaces</h6>
                                <h6 class="card-title">- IEEE Standard 1149.2 compatible (JTAG) boundary scan</h6>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="mb-3">-->
<!--                    <input type="quantity" class="form-control" id="exampleFormControlInput1" placeholder="quantity">-->
<!--                </div>-->

<!--                <a href="#" class="btn btn-primary">Add Cart</a>-->
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-100" >
            <img src="https://www.microchip.com/_images/ics/medium-PIC32MM0016GPL020-SSOP-20.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DSPIC33CK32MC102-I/SS</h5>

                <h6 class="card-title">Order Quantity/USD per Unit</h6>
                <h6 class="card-title">1-24/$1.31</h6>
                <h6 class="card-title">25-99/$1.19</h6>
                <h6 class="card-title">100+/$1.09</h6>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    Product Features
                </button><br><br>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel1">Product Features</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <h6 class="card-title">Low-Power Operation:</h6>
                                <h6 class="card-title">- 500 nA Sleep Current for RAM Retention mode </h6>
                                <h6 class="card-title">- 5 µA for Sleep with Regulator Standby mode</h6>
                                <h6 class="card-title">- 2 µA for lowest Sleep Mode with RTCC</h6>

                                <h6 class="card-title">High-Performance 32-Bit RISC CPU:</h6>
                                <h6 class="card-title">- 79 CoreMark performance at 25MHz operation</h6>
                                <h6 class="card-title">- microAptiv™ UC 32-Bit Core with 5-Stage Pipeline</h6>
                                <h6 class="card-title">- microMIPS™ Instruction Set for 35% Smaller Code and 98% Performance compared to MIPS32 Instructions</h6>
                                <h6 class="card-title">- Two Sets of 32 Core Register Files (32-bit) to Reduce Interrupt Latency</h6>
                                <h6 class="card-title">- 16-Bit/32-Bit Wide Instructions with 32-Bit Wide Data Path</h6>
                                <h6 class="card-title">- Two Sets of 32 Core Register Files (32-bit) to Reduce Interrupt Latency</h6>
                                <h6 class="card-title">- Single-Cycle 32x16 Multiply and Two-Cycle 32x32 Multiply</h6>
                                <h6 class="card-title">- Hardware Divide Unit</h6>
                                <h6 class="card-title">- Zero Wait State Flash with ECC to Maximize Endurance/Retention</h6>

                                <h6 class="card-title">Memory:</h6>
                                <h6 class="card-title">- Up to 16K ECC Flash Memory</h6>
                                <h6 class="card-title">- Up to 4K Data Memory</h6>

                                <h6 class="card-title">Analog Features:</h6>
                                <h6 class="card-title">- Up to 14-Channel, Software-Selectable 10/12-Bit SAR Analog-to-Digital Converter (ADC)</h6>
                                <h6 class="card-title">- 12-bit, 200K samples/second conversion rate (single Sample-and-Hold)</h6>
                                <h6 class="card-title">- 10-bit, 300K samples/second conversion rate (single Sample-and-Hold)</h6>
                                <h6 class="card-title">- Two Analog Comparators with Input Multiplexing</h6>
                                <h6 class="card-title">- 5-Bit DAC with Output Pin</h6>

                                <h6 class="card-title">Peripheral Features:</h6>
                                <h6 class="card-title">- Two 4-Wire SPI modules (up to 25 Mbps) with I2S</h6>
                                <h6 class="card-title">- Two UART modules with LIN</h6>
                                <h6 class="card-title">- CRC module</h6>
                                <h6 class="card-title">- Hardware Real-Time Clock and Calendar (RTCC)</h6>
                                <h6 class="card-title">- Up to 20 Peripheral Pin Select (PPS) Remappable Pins</h6>
                                <h6 class="card-title">- Seven Total 16-Bit Timers</h6>
                                <h6 class="card-title">- Timer1: Dedicated 16-bit timer/counter</h6>
                                <h6 class="card-title">- Two additional 16-bit timers in each MCCP and SCCP module</h6>
                                <h6 class="card-title">- Capture/Compare/PWM/Timer modules</h6>
                                <h6 class="card-title">- Two 16-bit timers or one 32-bit timer in each module</h6>
                                <h6 class="card-title">- PWM resolution down to 21 ns</h6>
                                <h6 class="card-title">- One Multiple Output (MCCP) module</h6>
                                <h6 class="card-title">- Flexible configuration as PWM, input capture, output compare or timers</h6>
                                <h6 class="card-title">- Six PWM outputs</h6>
                                <h6 class="card-title">- Programmable dead time</h6>
                                <h6 class="card-title">- Auto-shutdown</h6>
                                <h6 class="card-title">- Two Single Output (SCCP) modules</h6>
                                <h6 class="card-title">- Flexible configuration as PWM, input capture, output compare or timers</h6>
                                <h6 class="card-title">- Single PWM output</h6>
                                <h6 class="card-title">- Two Configurable Logic Cells (CLC) with Internal Connections to Select Peripherals and PPS</h6>


                                <h6 class="card-title">Small Footprint Packages:</h6>
                                <h6 class="card-title">- 4x4 mm in 20 QFN and 28 UQFN</h6>
                                <h6 class="card-title">- 5x5 mm in 40 uQFN</h6>
                                <h6 class="card-title">- 6x6 mm in 28 QFN and 36 QFN</h6>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="mb-3">-->
<!--                    <input type="quantity" class="form-control" id="exampleFormControlInput2" placeholder="quantity">-->
<!--                </div>-->

<!--                <a href="#" class="btn btn-primary">Add Cart</a>-->

            </div>

        </div>


    </div>
    <div class="col">
        <div class="card h-100" >
            <img src="https://www.microchip.com/_images/ics/medium-PIC32MM0256GPM064-TQFP-64.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PIC32MM0256GPM064-I/PT</h5>

                <h6 class="card-title">Order Quantity/USD per Unit</h6>
                <h6 class="card-title">1-24/$2.67</h6>
                <h6 class="card-title">25-99/$2.42</h6>
                <h6 class="card-title">100+/$2.21</h6>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Product Features
                </button><br><br>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel2">Product Features</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <h6 class="card-title">eXtreme low power Modes:</h6>
                                <h6 class="card-title">- 650 nA Sleep Current for RAM Retention mode and 5 µA for Regulator Standby mode</h6>
                                <h6 class="card-title">- On-Chip 1.8V Voltage Regulator (VREG)</h6>
                                <h6 class="card-title">- On-Chip Ultra Low-Power Retention Regulator</h6>


                                <h6 class="card-title">High-Performance 32-Bit RISC CPU:</h6>
                                <h6 class="card-title">- microAptiv™ UC 32-Bit Core with 5-Stage Pipeline</h6>
                                <h6 class="card-title">- microMIPS™ Instruction Set for 35% Smaller Code and 98% Performance compared to MIPS32 Instructions</h6>
                                <h6 class="card-title">- Two Sets of 32 Core Register Files (32-bit) to Reduce Interrupt Latency</h6>
                                <h6 class="card-title">- 16-Bit/32-Bit Wide Instructions with 32-Bit Wide Data Path</h6>
                                <h6 class="card-title">- Two Sets of 32 Core Register Files (32-bit) to Reduce Interrupt Latency</h6>
                                <h6 class="card-title">- Single-Cycle 32x16 Multiply and Two-Cycle 32x32 Multiply</h6>
                                <h6 class="card-title">- Hardware Divide Unit</h6>
                                <h6 class="card-title">- 64-Bit, Zero Wait State Flash with ECC to Maximize Endurance/Retention</h6>


                                <h6 class="card-title">Microcontroller Features:</h6>
                                <h6 class="card-title">- Low pin count packages, ranging from 28 to 64 pins, including UQFN as small as 4x4 mm</h6>
                                <h6 class="card-title">- Up to 256K ECC Flash Memory</h6>
                                <h6 class="card-title">- Up to 32K Data Memory</h6>
                                <h6 class="card-title">- Fail-Safe Clock Monitor mode</h6>
                                <h6 class="card-title">- Programmable Code Protection</h6>
                                <h6 class="card-title">- Configurable Watchdog Timer with On-Chip, Low-Power RC Oscillator</h6>

                                <h6 class="card-title">Analog Features:</h6>
                                <h6 class="card-title">- Three Analog Comparators with Input Multiplexing</h6>
                                <h6 class="card-title">- Programmable High/Low-Voltage Detect (HLVD)</h6>
                                <h6 class="card-title">- 5-Bit DAC with Pin Output</h6>
                                <h6 class="card-title">- Auto-scan feature</h6>
                                <h6 class="card-title">- Up to 24-Channel, Software-Selectable 10/12-Bit SAR Analog-to-Digital</h6>
                                <h6 class="card-title">- 12-bit, 200K samples/second conversion rate (single Sample-and-Hold)</h6>
                                <h6 class="card-title">- 10-bit, 300K samples/second conversion rate (single Sample-and-Hold)</h6>

                                <h6 class="card-title">Peripheral Features:</h6>
                                <h6 class="card-title">- USB 2.0 Compliant Full-Speed and Low-Speed Device, Host and On-The-Go (OTG) Controller with a dedicated DMA</h6>
                                <h6 class="card-title">- USB Device mode operation from FRC oscillator with no external crystal oscillator required</h6>
                                <h6 class="card-title">- 4-Channel Hardware DMA with Automatic Data Size Detection and CRC Engine</h6>
                                <h6 class="card-title">- Three 4-Wire SPI modules (up to 25 Mbps)</h6>
                                <h6 class="card-title">- Three I2C Master and Slave w/Address Masking and IPMI Support</h6>
                                <h6 class="card-title">- Three Enhanced Addressable UARTs</h6>
                                <h6 class="card-title">- RS-232, RS-485 and LIN/J2602 support</h6>
                                <h6 class="card-title">- IrDA® with on-chip hardware encoder and decoder</h6>
                                <h6 class="card-title">- Hardware Real-Time Clock and Calendar (RTCC)</h6>
                                <h6 class="card-title">- TUp to 24 Peripheral Pin Select (PPS) Remappable Pins</h6>
                                <h6 class="card-title">- 21 Total 16-Bit Timers</h6>
                                <h6 class="card-title">- Timers: Three dedicated 16-bit timers/counters</h6>
                                <h6 class="card-title">- Timers: Two can be concatenated to form a 32-bit timer</h6>
                                <h6 class="card-title">- Timers: Two additional 16-bit timers in each MCCP and SCCP module, totaling 18</h6>
                                <h6 class="card-title">- Capture/Compare/PWM/Timer modules with PWM resolution down to 21 ns</h6>
                                <h6 class="card-title">- One Multiple Output (MCCP) module:</h6>
                                <h6 class="card-title">- MCCP: Flexible configuration as PWM, input capture, output compare or timers</h6>
                                <h6 class="card-title">- MCCP: Six PWM outputs</h6>
                                <h6 class="card-title">- MCCP: Programmable dead time</h6>
                                <h6 class="card-title">- MCCP: Auto-shutdown</h6>
                                <h6 class="card-title">- Six Single Output (SCCP) modules:</h6>
                                <h6 class="card-title">- SCCP: Flexible configuration as PWM, input capture, output compare or timers</h6>
                                <h6 class="card-title">- SCCP: Single PWM output</h6>
                                <h6 class="card-title">- Four Configurable Logic Cells (CLC) with Internal Connections to Select Peripherals and PPS</h6>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="mb-3">-->
<!--                    <input type="quantity" class="form-control" id="exampleFormControlInput3" placeholder="quantity">-->
<!--                </div>-->

<!--                <a href="#" class="btn btn-primary">Add Cart</a>-->


            </div>

        </div>
    </div>
</div>







</body>
</html>