<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>MicrochipsStarApp Service Website</title>-->
<!--    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div th:insert="fragments/header :: header"></div>-->


<!--<form>-->
<!--    ชื่อ: <input type="text" name="name" id="name"/><br>-->
<!--    อีเมลล์: <input type="text" name="email" id="email" /><br>-->
<!--    ข้อความ:  <input type="text" name="message" id="message" /><br>-->
<!--    <input type="submit" value="send" onclick="sendMail()" />-->
<!--    <input type="reset" value="reset">-->
<!--</form>-->

<!--<script>-->
<!--    const sendMail = () => {-->
<!--        const name = document.getElementById('name').value;-->
<!--        const email = document.getElementById('email').value;-->
<!--        const message = document.getElementById('message').value;-->
<!--        window.open(`https://mail.google.com/mail/u/0/?view=cm&ui=2&tf=0&fs=1&to=${email}&su=เมลล์จากคุณ${name+' '+email}&body=${message}`);-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->