<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MicrochipsStarApp Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<a class="container">

    <a th:href="@{/}"><button >8-bit Microcontrollers</button></a>
    <button>16-bit Microcontrollers</button>
    <button>32-bit microcontrollers</button>


</div>






</body>
</html>