<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>MicrochipsStarApp Service Website</title>-->
<!--    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div th:insert="fragments/header :: header"></div>-->

<!--<div class="container">-->
<!--    <h1 class="display-6">Register</h1>-->

<!--    <form th:action="@{/registerCustomer/add}" method="POST">-->
<!--        <div class="mb-3">-->
<!--            <label for="CustomerNameInput" class="form-label">CustomerName</label>-->
<!--            <input id="CustomerNameInput" type="text" class="form-control" name="CustomerName">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="usernameInput" class="form-label">username</label>-->
<!--            <input id="usernameInput" type="text" class="form-control" name="username">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="passwordInput" class="form-label">password</label>-->
<!--            <input id="passwordInput" type="text" class="form-control" name="password">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="passwordConfirmInput" class="form-label">passwordConfirm</label>-->
<!--            <input id="passwordConfirmInput" type="text" class="form-control" name="passwordConfirm">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="TelephoneNumberInput" class="form-label">TelephoneNumber</label>-->
<!--            <input id="TelephoneNumberInput" type="text" class="form-control" name="TelephoneNumber">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="CompanyInput" class="form-label">Company</label>-->
<!--            <input id="CompanyInput" type="text" class="form-control" name="Company">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="EmailInput" class="form-label">Email</label>-->
<!--            <input id="EmailInput" type="text" class="form-control" name="Email">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Add</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->